$yellow: #2bbd57;
$red: #d84c4c;
$blue: #3432b6;

@mixin margenes ($top, $botton){
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron{
    background-color: $blue;
    color: black;
    @include margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $blue;
    @include margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon{
    padding-right: 10px;
}

.img-fluid{
    width: 100%;
    height: 300px;
}

.tab-content{
    padding-top: 10px;
}