@yellow: #d0db3b;

.margenes (@top: 0px, @botton : 0px){
    margin-top: @top;
    margin-bottom: @botton;
}

.jumbotron{
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px)
}

footer{
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px)
}

.card-hotel{
    flex: 1 200px;
    .margenes(10px, 0px)
}

.btn-reserva{
    width: 100%;
    border-radius: 0%;
}

.footer-address-icon{
    padding-right: 10px;
}

.img-fluid{
    width: 100%;
    height: 300px;
}

.tab-content{
    padding-top: 10px;
}