.jumbotron {
  background-color: #d0db3b;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #d0db3b;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0%; }

.footer-address-icon {
  padding-right: 10px; }

.img-fluid {
  width: 100%;
  height: 300px; }

.tab-content {
  padding-top: 10px; }
